<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>홍길동의 블로그</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="css/reset.css" />
        <link rel="stylesheet" href="css/main.css" />

        <script src="https://unpkg.com/vue@3"></script>
        <script src="/js/menu.js"></script>
    </head>

    <body>
        <div class="header">
            <h1><a href="/">홍길동의 블로그</a></h1>
        </div>
        <div id="counter">
            <span>Counter: {{ counter }}</span>
            <span v-html="html"></span>
            <span>{{html}}</span>
            <button @click="raiseCount">카운트 증가</button>
            <div :id="dynamicId">다이나믹 아이디 테스트</div>
        </div>
        <script>
            const Counter = {
                data() {
                    return {
                        counter: 0,
                        html: `<p>hello world!</p>`,
                        dynamicId: "abcd",
                    };
                },
                methods: {
                    raiseCount() {
                        this.counter++;
                    },
                },
            };

            let app = Vue.createApp(Counter).mount("#counter");
        </script>

        <div class="container">
            <aside class="left-nav">
                <nav>
                    <ul class="menu">
                        <!-- <li><a href="/monthly.html">2022-04 (2)</a></li>
                        <li><a href="monthly.html">2022-05 (2)</a></li>
                        <li><a href="monthly.html">2022-06 (1)</a></li> -->
                    </ul>
                </nav>
            </aside>
            <div class="content">
                <input>
                    <p>{{ searchKeyword }}</p>
                    <input type="text" v-model="searchKeyword" @change="searchPosts" />
                </div>
                <ul class="post-list" v-if="searchPosts.length > 0">
                    <li v-for="(post, index) in searchPosts" :key="index">
                        <a :href="post.url">
                            <h2>{{ post.title }}</h2>
                        </a>
                        <div class="post-info">
                            <div class="post-date">{{ post.createdAt }}</div>
                            <div class="post-author">
                                <a href="mailto:hyunmui@outlook.kr">{{post.author}}</a>
                            </div>
                        </div>
                        <div class="post-summary">
                            <a :href="post.url">{{ post.summary }}</a>
                        </div>
                    </li>
                </ul>
                <div v-else>
                    <h3>게시된 글이 없습니다</h3>
                </div>
            </div>
            <script>
                const PostList = {
                    data() {
                        return {
                            searchKeyword: "",
                            postList: [],
                        };
                    },
                    computed: {
                        searchPosts() {
                            return this.postList.filter(
                                (post) =>
                                    post.title.includes(this.searchKeyword) || post.summary.includes(this.searchKeyword)
                            );
                        },
                    },
                    mounted() {
                        fetch("/posts/list.json")
                            .then((response) => response.json())
                            .then((data) => {
                                this.postList = data;
                            });
                    },
                    methods: {},
                };

                Vue.createApp(PostList).mount(".content");
            </script>
        </div>
        <!-- AJAX -->
        <script>
            // document.addEventListener("DOMContentLoaded", function () {
            // fetch("/posts/list.json")
            //     .then((response) => response.json())
            //     .then((data) => {
            //             console.log(data);

            //             // TODO: @list에 출력되도록 변경해보기
            //         });
            // });
        </script>
    </body>
</html>
